// colors
@import 'variables';
// Font
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

//font-family: 'Barlow Semi Condensed',san-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 7rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color: $light_grayish_blue;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#testimonal-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 20px;
    column-gap: 20px;

    .author {
        display: flex;

        img {
            height: 30px;
            border-radius: 50%;
        }

        h2,
        p {
            padding-left: 12px;
        }

        h2 {
            font-size: 13px;
            font-weight: 600;
        }
    }
}


.testimonal {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 5px 5px 8px 3px $Lightgray;
    transition: ease 2s;
    cursor: pointer;

    h1 {
        font-size: 20px;
        font-weight: 600;
        margin: 10px 0px;
    }
}

.grid-1 {
    background-color: $violet;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 6rem top;
    grid-column: 1/3;

    h1,
    h2 {
        color: $White;
    }

    p {
        color: $White70;
    }
}

.grid-2 {
    background-color: $grayish_blue;
    width: 13rem;

    h1,
    h2 {
        color: $White;
    }

    p {
        color: $White70;
    }
}

.grid-3 {
    background-color: $White;
    grid-column: 4/4;
    grid-row: 1/3;
    width: 13rem;

    h1,
    p {
        color: $black70;
    }
}

.grid-4 {
    background-color: $White;
    width: 13rem;

    h1,
    p {
        color: $black70;
    }
}

.grid-5 {
    background-color: $blackish_blue;
    grid-column: 2/4;

    h1,
    h2 {
        color: $White;
    }

    p {
        color: $White70;
    }
}

@media (max-width:1200px) {
    main {
        height: auto;
        margin: 4rem 0rem;
    }

    #testimonal-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .testimonal {
            width: 100%;
        }
    }
}

@media (max-width:650px) {
    body {
        margin: 3rem 1rem;
    }

    main {
        margin: 3rem 1rem;
    }
}