@font-face {
  font-family: 'poppins-regular';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype'),
      url('../assets/fonts/OFL.txt') format('woff') 
    /* font-family: 'poppins-regular', sans-serif; */
}
@font-face {
  font-family: 'poppins-bold';
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype'),
      url('../assets/fonts/OFL.txt') format('woff') 
    /* font-family: 'poppins-bold', sans-serif; */
}
@font-face {
  font-family: 'poppins-italic';
  src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
      url('../assets/fonts/OFL.txt') format('woff') 
    /* font-family: 'poppins-italic', sans-serif; */
}

/* Color Variables */

:root{
  --Purple: hsl(259, 100%, 65%);
  --Light_red: hsl(0, 100%, 67%); 
  --White: hsl(0, 0%, 100%);
  --Off_white: hsl(0, 0%, 94%);
  --Light_grey: hsl(0, 0%, 86%);
  --Smokey_grey: hsl(0, 1%, 44%);
  --Off_black: hsl(0, 0%, 8%);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--Off_white);
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: var(--White);
  width: 650px;
  padding: 3rem;
  border-radius: 2rem 2rem 10rem 2rem;
  box-shadow:2px 2px 10px --Light_grey;
}

.input-container{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-family: 'poppins-bold', sans-serif;
}

.js-day,.js-month,.js-year{
  margin: 0 2rem;
  display: flex;
  flex-direction: column;

}

.fieldlabel{
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 1px;
  color:var(--Smokey_grey) ;
  margin-bottom: .3rem;
}

.input-field{
  font-family: 'poppins-bold', sans-serif;
  padding: 10px;
  color: var(--Off_black);
  font-size: 1.5rem;
  text-align: center;
  width: 6rem;
  height: 2rem;
  border: 1.3px solid var(--Light_grey);
  border-radius: .3rem;
  outline: none;
}

.input-field::placeholder{
  color: var(--Smokey_grey);
}

.input-field:focus{
  border: 1.7px solid var(--Purple);
}

.input-errstate,.input-errstate:focus {
  border: 1.7px solid var(--Light_red);
}

.errorstate{
  color: var(--Light_red);
}

.error-text{
  margin: 5px 0;
  color: var(--Light_red);
  font-family: 'poppins-regular', sans-serif;
  font-size: .8rem;
  font-style: italic;
  font-weight: 600;
}


.button-container{
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container hr{
  width: 31rem;
  height: 2px;
  border: none;
  outline: none;
  background-color: var(--Light_grey);
}

.button-container button{
  width: 5rem;
  height: 4.5rem;
  padding: 7px;
  border: none;
  outline: none;
  background-color: var(--Purple);
  border-radius: 50%;
}
.button-container img{
  width: 2rem;
}

.result-container{
  margin: 0 2rem;
  display: flex;
  align-items: center;
}

.age-years,.age-months,.age-days{
  margin-right: 1rem;
  font-size: 5rem;
  font-family:'poppins-italic', sans-serif;
  color: var(--Purple);
}

.result-age{
  font-family:'poppins-italic', sans-serif;
  font-size: 5rem;
}

@media screen and (max-width:800px){
  .container{
    width: 340px;
    height: auto;
    padding: 2rem 1rem;
    border-radius: 1rem 1rem 5rem;
  }

  .js-day,.js-month,.js-year{
    margin: .5rem 1rem;
  }

  .fieldlabel{
    font-size: .6rem;
  }

  .input-field{
    width: 3.3rem;
    height: 1.2rem;
    font-size: .9rem;
  }

  .input-field::placeholder{
    font-size: .8rem;
  }

  .error-text{
    font-size: .6rem;
  }

  .button-container{
    position: relative;
    margin: 2rem 1rem;
  }

  .button-container button{
    position:absolute;
    width: 2.9rem;
    height: 2.6rem;
    right:40%;
  }

  .button-container img{
    width: 1rem;
  }
  
  .result-container{
    margin-bottom: 1rem;
  }
  
  .age-years,.age-months,.age-days{
    margin-right: 1rem;
    font-size: 3rem;
  }
  
  .result-age{
    font-size: 3rem;
  }

}